<table>
<tr>
  <th>Name</th>
  <th>Tickets</th>
  <th>Details</th>
</tr>
<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.tickets %></td>
    <!-- has link to attraction/show from attraction/index page for admins -->
    <!-- does not suggest that admins go on a ride --> 
    <!-- links to attractions/show page from attractions/index -->
    <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
  </tr>
<% end %>
</table>

<!-- allows admins to add an attraction from the index page -->
<%= link_to "New Attraction", new_attraction_path %>
